EXPENSE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://exp.simple.ws" xmlns:impl="http://exp.simple.ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:intf="http://exp.simple.ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://exp.simple.ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="totalAmount">
    <complexType>
     <sequence>
      <element name="tstafflevel">
		<simpleType>
      		<restriction base="string">
      			<enumeration value="seniormanager"/>
      			<enumeration value="manager"/>
      			<enumeration value="supervisor"/>
      		</restriction>
      	</simpleType>
	  </element>
      <element name="tactualmonthlymileage">
		<simpleType>
      		<restriction base="double">
      			<minInclusive value="0"/>
      		</restriction>
      	</simpleType>
	  </element>
      <element name="tmonthlysalesamount">
		<simpleType>
      		<restriction base="double">
      			<minInclusive value="0"/>
      		</restriction>
      	</simpleType>
	  </element>
      <element name="tairfareamount">
		<simpleType>
      		<restriction base="double">
      			<minInclusive value="0"/>
      		</restriction>
      	</simpleType>
	  </element>
      <element name="totherexpensesamount">
		<simpleType>
      		<restriction base="double">
      			<minInclusive value="0"/>
      		</restriction>
      	</simpleType>
	  </element>
     </sequence>
    </complexType>
   </element>
   <element name="totalAmountResponse">
    <complexType>
     <sequence>
      <element name="totalAmountReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculateReimbursementAmount">
    <complexType>
     <sequence>
      <element name="stafflevel">
      	<simpleType>
      		<restriction base="string">
      			<enumeration value="seniormanager"/>
      			<enumeration value="manager"/>
      		</restriction>
      	</simpleType>
      </element>
      <element name="actualmonthlymileage">
      	<simpleType>
      		<restriction base="double">
      			<minInclusive value="0"/>
      		</restriction>
      	</simpleType>
      </element>
     </sequence>
    </complexType>
   </element>
   <element name="calculateReimbursementAmountResponse">
    <complexType>
     <sequence>
      <element name="calculateReimbursementAmountReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="airfareReimbursement">
    <complexType>
     <sequence>
      <element name="stafflevel">
      	<simpleType>
      		<restriction base="string">
      			<enumeration value="seniormanager"/>
      			<enumeration value="manager"/>
      			<enumeration value="supervisor"/>
      		</restriction>
      	</simpleType>
      </element>
      <element name="monthlysalesamount">
      	<simpleType>
      		<restriction base="double">
      			<minInclusive value="0"/>
      		</restriction>
      	</simpleType>
      </element>
      <element name="airfareamount">
      	<simpleType>
      		<restriction base="double">
      			<minInclusive value="0"/>
      		</restriction>
      	</simpleType>
      </element>
      <element name="otherexpensesamount">
      	<simpleType>
      		<restriction base="double">
      			<minInclusive value="0"/>
      		</restriction>
      	</simpleType>
      </element>
     </sequence>
    </complexType>
   </element>
   <element name="airfareReimbursementResponse">
    <complexType>
     <sequence>
      <element name="airfareReimbursementReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  </wsdl:types>
  <wsdl:message name="airfareReimbursementRequest">
    <wsdl:part name="parameters" element="impl:airfareReimbursement">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="calculateReimbursementAmountResponse">
    <wsdl:part name="parameters" element="impl:calculateReimbursementAmountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="totalAmountResponse">
    <wsdl:part name="parameters" element="impl:totalAmountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="airfareReimbursementResponse">
    <wsdl:part name="parameters" element="impl:airfareReimbursementResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="totalAmountRequest">
    <wsdl:part name="parameters" element="impl:totalAmount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="calculateReimbursementAmountRequest">
    <wsdl:part name="parameters" element="impl:calculateReimbursementAmount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExpenseReimbursementSystem">
    <wsdl:operation name="totalAmount">
<wsdl:documentation>{&quot;paraRelation&quot;:[],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[&quot;calculateReimbursementAmount&quot;,&quot;airfareReimbursement&quot;],&quot;preOp&quot;:&quot;&quot;,&quot;Iteration&quot;:&quot;true&quot;}</wsdl:documentation>
      <wsdl:input name="totalAmountRequest" message="impl:totalAmountRequest">
    </wsdl:input>
      <wsdl:output name="totalAmountResponse" message="impl:totalAmountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateReimbursementAmount">
<wsdl:documentation>{&quot;paraRelation&quot;:[],&quot;ipRegion&quot;:&quot;202.203.62.0-202.203.62.255&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;&quot;,&quot;Iteration&quot;:&quot;true&quot;}</wsdl:documentation>
      <wsdl:input name="calculateReimbursementAmountRequest" message="impl:calculateReimbursementAmountRequest">
    </wsdl:input>
      <wsdl:output name="calculateReimbursementAmountResponse" message="impl:calculateReimbursementAmountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="airfareReimbursement">
<wsdl:documentation>{&quot;paraRelation&quot;:[],&quot;ipRegion&quot;:&quot;202.203.62.0-202.203.62.255&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;&quot;,&quot;Iteration&quot;:&quot;true&quot;}</wsdl:documentation>
      <wsdl:input name="airfareReimbursementRequest" message="impl:airfareReimbursementRequest">
    </wsdl:input>
      <wsdl:output name="airfareReimbursementResponse" message="impl:airfareReimbursementResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExpenseReimbursementSystemSoapBinding" type="impl:ExpenseReimbursementSystem">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="totalAmount">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="totalAmountRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="totalAmountResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateReimbursementAmount">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="calculateReimbursementAmountRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="calculateReimbursementAmountResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="airfareReimbursement">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="airfareReimbursementRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="airfareReimbursementResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExpenseReimbursementSystem">
<wsdl:documentation>{&quot;eTime&quot;:&quot;2018-01-31&quot;}</wsdl:documentation>
    <wsdl:port name="ExpenseReimbursementSystem" binding="impl:ExpenseReimbursementSystemSoapBinding">
      <wsdlsoap:address location="http://localhost:8080/axis2/services/ExpenseReimbursementSystem/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
