MONEY.wsdl


<wsdl:definitions 
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:tns="http://www.moneytrackin.com/api" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:mt="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.moneytrackin.com/api">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                targetNamespace="http://www.moneytrackin.com/api">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
            <xsd:element name="listTransactions">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="password">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="project">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="0"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="startDate">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[1-2][0-9]{3}-([0][0-9]|[1][1-2])-([0][1-9]|[1][0-9]|[2][0-8])"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="endDate">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[1-2][0-9]{3}-([0][0-9]|[1][1-2])-([0][1-9]|[1][0-9]|[2][0-8])"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="listTransactionsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="listTagTransactions">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="password">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="project">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="0"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="tag">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="0"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="startDate">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[1-2][0-9]{3}-([0][0-9]|[1][1-2])-([0][1-9]|[1][0-9]|[2][0-8])"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="endDate">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[1-2][0-9]{3}-([0][0-9]|[1][1-2])-([0][1-9]|[1][0-9]|[2][0-8])"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="listTagTransactionsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="listProjects">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="password">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="listProjectsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="listWriteProjects">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="loginw">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="passwordw">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="listWriteProjectsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getBalance">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="password">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="project">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <minLength value="0"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getBalanceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getTags">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="password">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="project">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="0"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getTagsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="newProject">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="password">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="projectName">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="0"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="currency">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="USD|EUR|JPY|CAD|GBP|AUD|CHF|AED|ARS|BGN|BOB|BRL|CLP|CNY|COP|CZK|DKK|EEK|EGP|HKD|HRK|HUF|IDR|ILS|INR|LTL|MAD|MXN|MYR|NOK|NZD|PEN|PHP|PKR|PLN|ROL|RON|RUB|SAR|SEK|SGD|SKK|THB|TRY|TWD|VEB|ZAR|UAH|BHD|UYU|LVL|PYG|KRW|NGN|KES|BYR|RSD|QAR|VEF"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="newProjectResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="deleteProject">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="password">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="projectID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[0-9]{6}"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="deleteProjectResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="insertTransaction">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="password">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="projectid">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[0-9]{6}"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="description">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="0"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="amount">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[0-9]+"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="date">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[1-2][0-9]{3}-([0][0-9]|[1][1-2])-([0][1-9]|[1][0-9]|[2][0-8])"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="tags">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="0"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="idperiodic">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="insertTransactionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="editTransaction">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="password">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="projectid">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[0-9]{6}"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="description">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="0"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="amount">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[0-9]+"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="date">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[1-2][0-9]{3}-([0][0-9]|[1][1-2])-([0][1-9]|[1][0-9]|[2][0-8])"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="tags">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="0"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="idperiodic">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="editTransactionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="deleteTransaction">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="password">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="transactionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[0-9]{8}"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="projectID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[0-9]{6}"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="deleteTransactionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="listCurrencies">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="password">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="listCurrenciesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="userData">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="password">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="6"/>
                                    <xsd:maxLength value="16"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="userDataResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- null -->
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="listTransactionsRequest">
        <wsdl:part name="parameters" element="tns:listTransactions">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="listTransactionsResponse">
        <wsdl:part name="parameters" element="tns:listTransactionsResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="listTagTransactionsRequest">
        <wsdl:part name="parameters" element="tns:listTagTransactions">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="listTagTransactionsResponse">
        <wsdl:part name="parameters" element="tns:listTagTransactionsResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="listProjectsRequest">
        <wsdl:part name="parameters" element="tns:listProjects">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="listProjectsResponse">
        <wsdl:part name="parameters" element="tns:listProjectsResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="listWriteProjectsRequest">
        <wsdl:part name="parameters" element="tns:listWriteProjects">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="listWriteProjectsResponse">
        <wsdl:part name="parameters" element="tns:listWriteProjectsResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="getBalanceRequest">
        <wsdl:part name="parameters" element="tns:getBalance">
        </wsdl:part>
    </wsdl:message>

        <wsdl:message name="getBalanceResponse">
        <wsdl:part name="parameters" element="tns:getBalanceResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="getTagsRequest">
        <wsdl:part name="parameters" element="tns:getTags">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="getTagsResponse">
        <wsdl:part name="parameters" element="tns:getTagsResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="newProjectRequest">
        <wsdl:part name="parameters" element="tns:newProject">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="newProjectResponse">
        <wsdl:part name="parameters" element="tns:newProjectResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="deleteProjectRequest">
        <wsdl:part name="parameters" element="tns:deleteProject">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="deleteProjectResponse">
        <wsdl:part name="parameters" element="tns:deleteProjectResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="insertTransactionRequest">
        <wsdl:part name="parameters" element="tns:insertTransaction">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="insertTransactionResponse">
        <wsdl:part name="parameters" element="tns:insertTransactionResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="editTransactionRequest">
        <wsdl:part name="parameters" element="tns:editTransaction">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="editTransactionResponse">
        <wsdl:part name="parameters" element="tns:editTransactionResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="deleteTransactionRequest">
        <wsdl:part name="parameters" element="tns:deleteTransaction">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="deleteTransactionResponse">
        <wsdl:part name="parameters" element="tns:deleteTransactionResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="listCurrenciesRequest">
        <wsdl:part name="parameters" element="tns:listCurrencies">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="listCurrenciesResponse">
        <wsdl:part name="parameters" element="tns:listCurrenciesResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="userDataRequest">
        <wsdl:part name="parameters" element="tns:userData">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="userDataResponse">
        <wsdl:part name="parameters" element="tns:userDataResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="moneytrackin_APIPortType">
        <wsdl:operation name="listTransactions">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            {&quot;paraRelation&quot;:[],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;(listProject,listWriteProject,listCurrencies,userData)*((newProject)(newProjectResponse_succ))+((listTransactions)(listTransactionsResponse_succ),(listTagTransactions)(listTagTransactionsResponse_succ),(newProject)(newProjectResponse_succ))*(((insertTransaction)(insertTransactionResponse_succ))+((editTransaction)(editTransactionResponse_succ),(deleteTransaction)(deleteTransaction_succ)(insertTransaction)(insertTransactionResponse_succ),(getBalance)(getBalanceResponse_succ),(getTags)(getTagsResponse_succ),(listTransactions)(listTransactionsResponse_succ),(listTagTransactions)(listTagTransactionsResponse_succ))*)*&quot;,&quot;Iteration&quot;:&quot;true&quot;}
            </wsdl:documentation>
            <wsdl:input message="tns:listTransactionsRequest">
            </wsdl:input>
            <wsdl:output message="tns:listTransactionsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listTagTransactions">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            {&quot;paraRelation&quot;:[],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;(listProject,listWriteProject,listCurrencies,userData)*((newProject)(newProjectResponse_succ))+((listTransactions)(listTransactionsResponse_succ),(listTagTransactions)(listTagTransactionsResponse_succ),(newProject)(newProjectResponse_succ))*(((insertTransaction)(insertTransactionResponse_succ))+((editTransaction)(editTransactionResponse_succ),(deleteTransaction)(deleteTransaction_succ)(insertTransaction)(insertTransactionResponse_succ),(getBalance)(getBalanceResponse_succ),(getTags)(getTagsResponse_succ),(listTransactions)(listTransactionsResponse_succ),(listTagTransactions)(listTagTransactionsResponse_succ))*)*&quot;,&quot;Iteration&quot;:&quot;true&quot;}
            </wsdl:documentation>
            <wsdl:input message="tns:listTagTransactionsRequest">
            </wsdl:input>
            <wsdl:output message="tns:listTagTransactionsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listProjects">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            {&quot;paraRelation&quot;:[],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;&quot;,&quot;Iteration&quot;:&quot;true&quot;}
            </wsdl:documentation>
            <wsdl:input message="tns:listProjectsRequest">
            </wsdl:input>
            <wsdl:output message="tns:listProjectsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWriteProjects">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            {&quot;paraRelation&quot;:[],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;&quot;,&quot;Iteration&quot;:&quot;true&quot;}
            </wsdl:documentation>
            <wsdl:input message="tns:listWriteProjectsRequest">
            </wsdl:input>
            <wsdl:output message="tns:listWriteProjectsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBalance">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            {&quot;paraRelation&quot;:[&quot;getBalance.login = newProject.login&quot;,&quot;getBalance.password = newProject.password&quot;],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;(listProject,listWriteProject,listCurrencies,userData)*((newProject)(newProjectResponse_succ))+((listTransactions)(listTransactionsResponse_succ),(listTagTransactions)(listTagTransactionsResponse_succ),(newProject)(newProjectResponse_succ))*(((insertTransaction)(insertTransactionResponse_succ))+((editTransaction)(editTransactionResponse_succ),(deleteTransaction)(deleteTransaction_succ)(insertTransaction)(insertTransactionResponse_succ),(getBalance)(getBalanceResponse_succ),(getTags)(getTagsResponse_succ),(listTransactions)(listTransactionsResponse_succ),(listTagTransactions)(listTagTransactionsResponse_succ))*)*&quot;,&quot;Iteration&quot;:&quot;true&quot;}
            </wsdl:documentation>
            <wsdl:input message="tns:getBalanceRequest">
            </wsdl:input>
            <wsdl:output message="tns:getBalanceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTags">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            {&quot;paraRelation&quot;:[&quot;getTags.login = newProject.login&quot;,&quot;getTags.password = newProject.password&quot;],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;(listProject,listWriteProject,listCurrencies,userData)*((newProject)(newProjectResponse_succ))+((listTransactions)(listTransactionsResponse_succ),(listTagTransactions)(listTagTransactionsResponse_succ),(newProject)(newProjectResponse_succ))*(((insertTransaction)(insertTransactionResponse_succ))+((editTransaction)(editTransactionResponse_succ),(deleteTransaction)(deleteTransaction_succ)(insertTransaction)(insertTransactionResponse_succ),(getBalance)(getBalanceResponse_succ),(getTags)(getTagsResponse_succ),(listTransactions)(listTransactionsResponse_succ),(listTagTransactions)(listTagTransactionsResponse_succ))*)*&quot;,&quot;Iteration&quot;:&quot;true&quot;}
            </wsdl:documentation>
            <wsdl:input message="tns:getTagsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getTagsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newProject">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            {&quot;paraRelation&quot;:[],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;(listProject,listWriteProject,listCurrencies,userData,(newProject)(newProjectResponse_succ))*&quot;,&quot;Iteration&quot;:&quot;false&quot;}
            </wsdl:documentation>
            <wsdl:input message="tns:newProjectRequest">
            </wsdl:input>
            <wsdl:output message="tns:newProjectResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteProject">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            {&quot;paraRelation&quot;:[&quot;deleteProject.login = newProject.login&quot;,&quot;deleteProject.password = newProject.password&quot;],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;(listProject,listWriteProject,listCurrencies,userData)*((newProject)(newProjectResponse_succ))+((listTransactions)(listTransactionsResponse_succ),(listTagTransactions)(listTagTransactionsResponse_succ),(newProject)(newProjectResponse_succ))*((insertTransaction)(insertTransactionResponse_succ))((insertTransaction)(insertTransactionResponse_succ),(editTransaction)(editTransactionResponse_succ))*((deleteTransaction)(deleteTransactionResponse_succ)(insertTransaction)(insertTransactionResponse_succ),(getBalance)(getBalanceResponse_succ),(getTags)(getTagsResponse_succ))*&quot;,&quot;Iteration&quot;:&quot;false&quot;}
            </wsdl:documentation>
            <wsdl:input message="tns:deleteProjectRequest">
            </wsdl:input>
            <wsdl:output message="tns:deleteProjectResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertTransaction">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            {&quot;paraRelation&quot;:[&quot;insertTransaction.login = newProject.login&quot;,&quot;insertTransaction.password = newProject.password&quot;],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;(listProject,listWriteProject,listCurrencies,userData)*((newProject)(newProjectResponse_succ))+((listTransactions)(listTransactionsResponse_succ),(listTagTransactions)(listTagTransactionsResponse_succ),(newProject)(newProjectResponse_succ))*(((insertTransaction)(insertTransactionResponse_succ))+((editTransaction)(editTransactionResponse_succ),(deleteTransaction)(deleteTransaction_succ)(insertTransaction)(insertTransactionResponse_succ),(getBalance)(getBalanceResponse_succ),(getTags)(getTagsResponse_succ))*)*&quot;,&quot;Iteration&quot;:&quot;false&quot;}
            </wsdl:documentation>
            <wsdl:input message="tns:insertTransactionRequest">
            </wsdl:input>
            <wsdl:output message="tns:insertTransactionResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editTransaction">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            {&quot;paraRelation&quot;:[&quot;editTransaction.login = newProject.login&quot;,&quot;editTransaction.password = newProject.password&quot;],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;(listProject,listWriteProject,listCurrencies,userData)*((newProject)(newProjectResponse_succ))+((listTransactions)(listTransactionsResponse_succ),(listTagTransactions)(listTagTransactionsResponse_succ),(newProject)(newProjectResponse_succ))*((insertTransaction)(insertTransactionResponse_succ))+((insertTransaction)(insertTransactionResponse_succ),(editTransaction)(editTransactionResponse_succ),(getBalance)(getBalanceResponse_succ),(getTags)(getTagsResponse_succ))*&quot;,&quot;Iteration&quot;:&quot;true&quot;}
            </wsdl:documentation>
            <wsdl:input message="tns:editTransactionRequest">
            </wsdl:input>
            <wsdl:output message="tns:editTransactionResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTransaction">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            {&quot;paraRelation&quot;:[&quot;deleteTransaction.login = newProject.login&quot;,&quot;deleteTransaction.password = newProject.password&quot;],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;(listProject,listWriteProject,listCurrencies,userData)*((newProject)(newProjectResponse_succ))+((listTransactions)(listTransactionsResponse_succ),(listTagTransactions)(listTagTransactionsResponse_succ),(newProject)(newProjectResponse_succ))*((insertTransaction)(insertTransactionResponse_succ))+((insertTransaction)(insertTransactionResponse_succ),(editTransaction)(editTransactionResponse_succ))*((deleteTransaction)(deleteTransactionResponse_succ)(insertTransaction)(insertTransactionResponse_succ),(getBalance)(getBalanceResponse_succ),(getTags)(getTagsResponse_succ))*&quot;,&quot;Iteration&quot;:&quot;false&quot;}
            </wsdl:documentation>
            <wsdl:input message="tns:deleteTransactionRequest">
            </wsdl:input>
            <wsdl:output message="tns:deleteTransactionResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listCurrencies">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            {&quot;paraRelation&quot;:[&quot;listCurrencies.login = newProject.login&quot;,&quot;listCurrencies.password = newProject.password&quot;],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;&quot;,&quot;Iteration&quot;:&quot;true&quot;}
            </wsdl:documentation>
            <wsdl:input message="tns:listCurrenciesRequest">
            </wsdl:input>
            <wsdl:output message="tns:listCurrenciesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="userData">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            {&quot;paraRelation&quot;:[&quot;userData.login = newProject.login&quot;,&quot;userData.password = newProject.password&quot;],&quot;ipRegion&quot;:&quot;&quot;,&quot;invokeOp&quot;:[],&quot;preOp&quot;:&quot;&quot;,&quot;Iteration&quot;:&quot;true&quot;}
            </wsdl:documentation>
            <wsdl:input message="tns:userDataRequest">
            </wsdl:input>
            <wsdl:output message="tns:userDataResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="moneytrackin_APIBinding" type="tns:moneytrackin_APIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="listTransactions">
            <soap:operation soapAction="http://www.moneytrackin.com/api/listTransactions" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listTagTransactions">
            <soap:operation soapAction="http://www.moneytrackin.com/api/webservices.php/listTagTransactions" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listProjects">
            <soap:operation soapAction="http://www.moneytrackin.com/api/webservices.php/listProjects" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWriteProjects">
            <soap:operation soapAction="http://www.moneytrackin.com/api/webservices.php/listWriteProjects" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBalance">
            <soap:operation soapAction="http://www.moneytrackin.com/api/webservices.php/getBalance" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTags">
            <soap:operation soapAction="http://www.moneytrackin.com/api/webservices.php/getTags" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newProject">
            <soap:operation soapAction="http://www.moneytrackin.com/api/webservices.php/newProject" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteProject">
            <soap:operation soapAction="http://www.moneytrackin.com/api/webservices.php/deleteProject" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertTransaction">
            <soap:operation soapAction="http://www.moneytrackin.com/api/webservices.php/insertTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editTransaction">
            <soap:operation soapAction="http://www.moneytrackin.com/api/webservices.php/editTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTransaction">
            <soap:operation soapAction="http://www.moneytrackin.com/api/webservices.php/deleteTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listCurrencies">
            <soap:operation soapAction="http://www.moneytrackin.com/api/webservices.php/listCurrencies" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="userData">
            <soap:operation soapAction="http://www.moneytrackin.com/api/webservices.php/userData" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.moneytrackin.com/api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="moneytrackin_API">
        <wsdl:port name="moneytrackin_APIPort" binding="tns:moneytrackin_APIBinding">
            <soap:address location="http://www.moneytrackin.com/api/webservices.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>